@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;300;500;700&display=swap");
body {
  margin: 0;
  font-family: 'Epilogue', sans-serif;
  background-color: #fafafa;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .logo {
  margin: 1.5em 1.25em;
}

header .menu-open {
  margin: .5em;
  padding: .5em;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fafafa;
  height: 100vh;
  width: 65%;
  font-weight: 500;
  font-size: 17px;
  color: dimgray;
  text-transform: capitalize;
  z-index: 10;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

nav .menu-close {
  float: right;
  margin: 1em 1em;
  padding: .5em;
}

nav .arrow-up {
  display: none;
  padding: 0.3em .5em;
  position: relative;
  top: 4px;
}

nav .arrow-down {
  padding: 0.3em .5em;
  position: relative;
  top: 4px;
}

nav .sub-menu {
  padding: 0;
  padding-top: 1em;
}

nav .sub-menu .dropdown-icon {
  padding-right: 1em;
  position: relative;
  top: 2px;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

nav .features-dropdown {
  display: none;
  pointer-events: none;
}

nav .company-dropdown {
  display: none;
  pointer-events: none;
}

nav a {
  text-decoration: none;
  color: dimgray;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a:hover {
  color: #141414;
}

nav .main-nav {
  margin-top: 4em;
  padding: 0em;
}

nav .main-nav li {
  list-style: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: .8em 1.5em;
}

nav .main-nav li:hover {
  color: #141414;
  cursor: pointer;
}

nav .login-reg {
  margin-top: 1em;
  padding: 0em;
  text-align: center;
  font-size: 15px;
}

nav .login-reg li {
  list-style: none;
  padding: .8em;
}

nav .login-reg .with-borders {
  padding: .6em 4em;
  border: 2px solid dimgray;
  border-radius: .9em;
}

nav .login-reg .with-borders:hover {
  border-color: #141414;
}

section.hero {
  text-align: center;
  /*.mobile-img{
        display: none;
    }
    */
}

section.hero .can-animate {
  -webkit-animation: dropdown-fadein 1s ease-in-out forwards;
          animation: dropdown-fadein 1s ease-in-out forwards;
}

section.hero img {
  width: 100%;
  height: auto;
  -webkit-animation: fade-in 1s ease-in-out forwards;
          animation: fade-in 1s ease-in-out forwards;
}

section.hero .desktop-img {
  display: none;
}

section.hero h1 {
  font-size: 36px;
  font-weight: 700;
  color: #141414;
  margin-top: 1em;
  margin-bottom: 0.7em;
}

section.hero p {
  font-size: 16px;
  font-weight: 500;
  color: dimgray;
  line-height: 1.7em;
  margin: 0em 0.7em;
  margin-bottom: 1em;
}

section.hero button {
  background-color: #141414;
  color: #fafafa;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid transparent;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 150px;
  width: 38%;
  padding: .7em 0.6em;
  margin: .5em .5em 2em .5em;
  border-radius: .9em;
  cursor: pointer;
}

section.hero button:hover {
  color: #141414;
  background-color: #fafafa;
  border: 2px solid #141414;
  -webkit-transition: background-color .25s ease-out;
  transition: background-color .25s ease-out;
}

footer .client {
  margin: 1.5em 0.5em;
  padding: .2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fade-in 1s ease-in-out forwards;
          animation: fade-in 1s ease-in-out forwards;
}

footer svg {
  -webkit-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7);
}

footer .attribution {
  margin: 1.5em;
  margin-bottom: 0;
  margin-top: 2em;
  padding: 1em;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  top: 2em;
}

.overlay {
  display: none;
  position: absolute;
  background-color: rgba(8, 2, 2, 0.541);
  width: 100%;
  height: 100vh;
  z-index: 10;
}

/*----------Java Script Class Lists----------*/
.open-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.animate-open-dropdown {
  -webkit-animation: open-dropdown-anim .25s ease-in-out;
          animation: open-dropdown-anim .25s ease-in-out;
}

.animate-close-dropdown {
  animation: open-dropdown-anim .25s reverse;
}

.animate-overlay {
  -webkit-animation: overlay-anim .5s ease-in-out;
          animation: overlay-anim .5s ease-in-out;
}

/*-----------------ANIMATIONS-----------------*/
@-webkit-keyframes open-dropdown-anim {
  from {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes open-dropdown-anim {
  from {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

/*@keyframes close-dropdown-anim{
    from{
        transform: translateY(0%);
        opacity: 1;
    }
    to{
        transform: translateY(-20%);
        opacity: 0;
    }
    
} */
@-webkit-keyframes overlay-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes overlay-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes dropdown-fadein {
  from {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes dropdown-fadein {
  from {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes side-fadein {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes side-fadein {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

/*******----------------***MEDIA QUERIES***------------------********/
/*----------------@min-width 825px--------------*/
@media only screen and (min-width: 825px) {
  body {
    margin: 0 1em;
  }
  header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo {
    margin: 1.5em 2em;
    position: relative;
    top: 4px;
  }
  header .menu-open {
    display: none;
  }
  nav {
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: none;
    height: auto;
    width: 100%;
    font-size: 14px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-animation: side-fadein 1s ease-in-out forwards;
            animation: side-fadein 1s ease-in-out forwards;
    /* .arrow-down{
            padding: 0em .5em;
        }
        */
  }
  nav .menu-close {
    display: none;
  }
  nav .arrow-up {
    display: none;
  }
  nav .sub-menu {
    display: none;
    position: fixed;
    margin-top: 1.5em;
    background-color: white;
    border-radius: .75em;
  }
  nav .sub-menu .dropdown-icon {
    position: relative;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  nav .features-dropdown {
    left: -50px;
    padding: 1em .5em;
    -webkit-box-shadow: 2px 2px 5px rgba(189, 189, 185, 0.205);
            box-shadow: 2px 2px 5px rgba(189, 189, 185, 0.205);
  }
  nav .company-dropdown {
    left: 135px;
    padding: 1.2em 0.4em;
    -webkit-box-shadow: 2px 2px 5px rgba(189, 189, 185, 0.205);
            box-shadow: 2px 2px 5px rgba(189, 189, 185, 0.205);
  }
  nav .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-right: 5em;
    padding: 0;
  }
  nav .main-nav li {
    padding: .5em 1em;
  }
  nav .main-nav li:hover {
    color: #141414;
    cursor: pointer;
  }
  nav .main-nav .careers {
    padding-right: 1em;
  }
  nav .main-nav .about {
    padding-right: 1em;
  }
  nav .login-reg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0em;
    text-align: center;
    font-size: 15px;
  }
  nav .login-reg li {
    padding: .6em;
  }
  nav .login-reg .with-borders {
    padding: .6em 1.5em;
    border: 2px solid dimgray;
    border-radius: .9em;
  }
  section.hero {
    text-align: left;
    margin: 0;
    margin-bottom: 10em;
  }
  section.hero img {
    width: 45%;
    height: auto;
    margin-bottom: 2em;
  }
  section.hero .mobile-img {
    display: none;
  }
  section.hero .desktop-img {
    display: block;
    float: right;
    margin-top: 4em;
  }
  section.hero .content {
    margin-left: 4em;
    padding-top: 6em;
  }
  section.hero h1 {
    font-size: 50px;
    width: 48%;
    font-weight: 700;
    margin-bottom: 0.8em;
    line-height: 65px;
  }
  section.hero h1 span {
    display: block;
  }
  section.hero p {
    font-size: 18px;
    font-weight: 500;
    color: dimgray;
    line-height: 1.5em;
    margin: 0em;
    margin-bottom: 2em;
    width: 40%;
  }
  section.hero button {
    font-size: 16px;
    width: 20%;
    padding: .8em 0em;
    margin: .5em .5em 4em 0em;
  }
  footer .client {
    margin: 1.5em 0.5em;
    padding: .2em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer svg {
    -webkit-transform: unset;
            transform: unset;
  }
  footer .attribution {
    font-size: 14px;
  }
}

/*----------------@min-width 1000px--------------*/
@media only screen and (min-width: 1000px) {
  header nav .login-reg li {
    padding-left: 1.8em;
  }
  section.hero {
    margin: 0;
    margin-bottom: 2em;
  }
  section.hero img {
    margin-bottom: 5em;
    margin-right: 1em;
  }
  section.hero .desktop-img {
    max-height: 620px;
    max-width: 420px;
    margin-top: 4em;
  }
  section.hero .content {
    margin-left: 4em;
    padding-top: 6em;
  }
  section.hero h1 {
    font-size: 60px;
    width: 45%;
    line-height: 65px;
  }
  footer .client {
    margin-left: 4em;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 48%;
    gap: 8px;
  }
  footer svg {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  footer .attribution {
    margin-top: 12em;
  }
}

/*----------------@min-width 1200px--------------*/
@media only screen and (min-width: 1200px) {
  section.hero img {
    margin-right: 4em;
  }
  section.hero .desktop-img {
    max-height: 680px;
    max-width: 480px;
    margin-top: 4em;
  }
  section.hero .content {
    margin-left: 6em;
  }
  section.hero h1 {
    font-size: 75px;
    width: 50%;
    line-height: 65px;
  }
  footer .client {
    margin-left: 6em;
    margin-top: 4em;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 38%;
    gap: 30px;
  }
  footer svg {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
}

/*----------------@min-width 1400px--------------*/
@media only screen and (min-width: 1400px) {
  section.hero img {
    margin-right: 6em;
  }
  section.hero .desktop-img {
    max-height: 700px;
    max-width: 500px;
    margin-top: 4em;
  }
  section.hero .content {
    margin-left: 8em;
    padding-top: 8em;
  }
  section.hero h1 {
    font-size: 80px;
    width: 50%;
  }
  footer .client {
    margin-left: 8em;
    gap: 40px;
  }
}

/*----------------@min-width 1600px--------------*/
@media only screen and (min-width: 1600px) {
  section.hero img {
    margin-right: 10em;
  }
  section.hero .desktop-img {
    margin-top: 4em;
  }
  section.hero .content {
    margin-left: 10em;
    padding-top: 8em;
  }
  section.hero h1 {
    font-size: 80px;
    width: 50%;
  }
  footer .client {
    margin-left: 10em;
    gap: 60px;
  }
}
/*# sourceMappingURL=style.css.map */